!*.secret
.gitsecret/keys/random_seed
.DS_Store
cloudflare
data/credentials.json
data/images/colab/results
data/images/original
data/images/models
data/theyvoteforyou.key
node_modules
vite.config.local.js
.mf
