@import './settings';

:root {
  --black: #222;
  --black-light: #2225;
  --black-lighter: #2223;
  --black-lightest: #2221;
  --white-light: #fffe;

  --for-darker: #45696a;
  --for: #45696aaa;
  --for-light: #45696a77;
  --for-lighter: #45696a33;
  --for-lightest: #45696a20;
  --against-darker:  #c0444a;
  --against:  #c0444aaa;
  --against-light:  #c0444a77;
  --against-lighter:  #c0444a33;
  --against-lightest:  #c0444a20;

  // party colours
  --party-alp: #e2363e;
  --party-coa: #154e9d;
  --party-nat: #006141;
  --party-grn: #008C44;
  --party-other: #fadd4a;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace, monospace;
  color: var(--black);
  // font-size: 1.4em;
  font-size: 1.35vh;

  @media (max-width: 41.68vh) {
    font-size: 3.25vw;
  }
}

h2, h3 {
  font-weight: 600;
  font-size: 1.6em;
}

#i-get-it-now {
  display: flex;
  flex-direction: column;
  flex-grow:  1;
  align-items:  center;
  justify-content:  center;
  min-height: 100vh;
  margin-bottom: 3em;

  @media (max-aspect-ratio: 0.75) {
    // height: calc(100vh - 55px);
    // min-height: calc(100vh - 10em);
    margin: -3em 0 0;
  }
}

@keyframes hint-image {
  to {
    transform: translate(-50%, -100%);
  }
}

.image-wrap {
  position: relative;

  &[data-hint]:not(:hover) {
    &::before {
      content: "👇";
      display: block;
      border-radius: 0.2em;
      position: absolute;
      left: 50%;
      top: 0.8em;
      font-size: 2.24em;
      white-space: nowrap;
      transform: translate(-50%, -120%);
      pointer-events: none;
      animation: hint-image 1s 0.25s alternate infinite;
      z-index: 1;
    }
  }
}

.image {
  padding: 1em;
  background: white;
  margin-bottom: -3vh;
  // hide "vote alignment" overflowing from bottom of image
  box-shadow: 0 0 0 1em #fff;

  body[data-debug] & {
    background: blue;
    box-shadow: inset 0 0 0 1em;
  }

  .image-title {
    text-align: center;
    padding: 0.8em 1em;
    line-height: 1;
    font-size: 1.1em;
    font-weight: bold;
    z-index: -1;
    position: relative;

    body[data-debug] & {
      background:  #fff;
    }
  }
}

@keyframes hint-partial {
  80% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  90% {
    transform: rotate3d(1, 0, 0, -15deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 20deg);
  }
}

.partials {
  position: relative;
  max-width: 90vw;
  max-height: 50vh;
  aspect-ratio: 0.75;
  height: 120vw;
  margin: auto;

  .partials::before,
  .partials::after {
    body[data-debug] & {
      content: '';
      position:  absolute;
      height: 37.5%;
      left: 50%;
      transform: translateX(-50%);
      border: 0.2em solid #F0FA;
      z-index: 1;
      top: 41.25%;
    }
  }

  .partials::before {
    body[data-debug] & {
      width: 34%;
    }
  }

  > li {
    perspective: 80vh;
    height: 25%;
  }
}

.partial {
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  overflow: hidden;
  height: 100%;
  
  .partials:not([data-loading]) li:active &,
  .partials:not([data-loading]) li:hover & {
    transform: rotate3d(1, 0, 0, -25deg);
  }
  
  .partials[data-loading] & {
    transform: rotate3d(1, 0, 0, 25deg);
  }

  .image-wrap[data-hint]:not(:hover) .partials:not([data-loading]) li:first-child & {
    animation: hint-partial 4s alternate infinite;
  }


  @media (max-aspect-ratio: 1) {
    transition: none;

    .partials li:active &,
    .partials li:hover & {
      transition: transform 0.2s, opacity 0.2s;
      transform: translateZ(-15vh);
      opacity: 0;
    }
  }
}

.partial-outer {
  .partials > li:nth-child(2) & {
    transform: translateY(-25%);
  }
  .partials > li:nth-child(3) & {
    transform: translateY(-50%);
  }
  .partials > li:nth-child(4) & {
    transform: translateY(-75%);
  }
}

.partial-wrap {
  background: var(--for-light);

  .partials[data-alt="1"] & {
    background: var(--against-light);
  }
}

.partial-image {
  width: 100%;
  transition: opacity 0.2s;
  pointer-events:  none;

  &:not([src]) {
    display: none;
  }

  .partials[data-loading] & {
    transition:  none;
    opacity:  0.01;
  }
}

.image-logo {
  user-select: none;
  background: linear-gradient(-45deg, var(--against-lightest) 0 48.5%, #fff 48.5% 49.5%, var(--for-lightest) 49.5% 100%);
  color: #fff;
  font-family: monospace;
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.15em;
  line-height: 1em;
  margin: auto;
  padding: 0.8em 1em 0.7em;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 16em;
  z-index: -1;
  border: 1px solid transparent;
  box-shadow: inset 1px 1px 0 #fffc,
              inset -1px -1px 0 var(--for-lightest);

  span {
    &:first-child {
      color: var(--for-darker);
    }

    &:last-child {
      color: var(--against-darker);
    }
  }
}

.info {
  position:  absolute;
  top: 50%;
  right: 1em;
  transform: translate(95%, -50%);
  transform-origin: 0 0;
  transition: 0.4s transform;
  padding-left: 3em;
  visibility: hidden;
  color: var(--party-other);
  max-height: 100%;

  &[data-party="australian-greens"] {
    color: var(--party-grn);
  }

  &[data-party="australian-labor-party"] {
    color: var(--party-alp);
  }

  &[data-party^="liberal"] {
    color: var(--party-coa);
  }

  &[data-party="national-party"] {
    color: var(--party-nat);
  }

  .partials li:active &,
  .partials li:hover & {
    transform: translate(100%, -50%);
    visibility: visible;
  }

  .partials li:nth-child(even) & {
    right: auto;
    left: 1em;
    transform: translate(-95%, -50%);
    padding: 0 3em 0 0;
  }
  
  .partials li:nth-child(even):active &,
  .partials li:nth-child(even):hover & {
    transform: translate(-100%, -50%);
  }
  
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }
  
  &::before {
    top: 50%;
    left: 0;
    width: 3em;
    height: 2px;
    background: currentColor;
    transform: translateX(150%);
    transition: 0.2s transform;

    .partials li:active &,
    .partials li:hover &,
    .partials li:nth-child(even):active &,
    .partials li:nth-child(even):hover & {
      transform: none;
    }

    .partials li:nth-child(even) & {
      transform: translateX(-150%);
      left: auto;
      right: 0;
    }
  }

  &::after {
    top: 1px;
    bottom: 1px;
    right: 1px;
    left: 3em;
    transition:  0.4s color;

    .partials li:not(:hover):not(:active) & {
      color: transparent;
    }
    
    .partials li:active &,
    .partials li:hover & {
      transition-delay: 0.15s;
    }

    .partials li:nth-child(even) & {
      left: 0;
      right: 3em;
    }
  }

  @media (max-aspect-ratio: 1) {
    transform: translate(-20%, -50%);
    transition-duration: 0s;
    height: 95%;

    &::before {
      display: none;
    }

    .partials li:active &,
    .partials li:hover & {
      transition-duration: 0.2s;
      transition-delay: 0.1s;
      transform: translate(0, -50%);
      visibility: visible;
    }

    .partials li:nth-child(even) & {
      right: auto;
      left: 1em;
      transform: translate(20%, -50%);
      padding: 0 3em 0 0;
    }
    
    .partials li:nth-child(even):active &,
    .partials li:nth-child(even):hover & {
      transform: translate(0, -50%);
    }
  }
}

.info-inner {
  opacity: 0;
  transition: 0.2s opacity;
  display: flex;
  border-left: 0.4em solid currentColor;
  align-items: flex-start;
  flex-direction: row-reverse;
  height: 100%;

  .partials li:nth-child(even) & {
    flex-direction: row;
    border-left: none;
    border-right: 0.4em solid currentColor;
  }

  .partials li:active &,
  .partials li:hover & {
    transition-delay: 0.3s;
    opacity: 1;
  }

  @media (max-aspect-ratio: 1) {
    background: var(--white-light);
    transition-duration: 0s;

    .partials li:active &,
    .partials li:hover & {
      transition-duration: 0.2s;
      transition-delay: 0.1s;
      opacity: 1;
    }
  }

  img {
    max-height: 100%;
    border: 0.4em solid currentColor;
    box-shadow: inset 0 0 0 1px white;
    height: 9.2em;
  }

  figcaption {
    color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 0.4em 0.8em;
    max-width: 13.5em;
  }

  .role {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.4em;
    padding-bottom: 0.4em;
    font-style: italic;
    font-size: 0.7em;
  }

  .party {
    font-weight: 600;
  }

  .offices,
  .votes {
    font-size: 0.7em;
  }
}

.partial-alignment {
  margin-right: 1.6em;

  @media (max-aspect-ratio: 1) {
    position: absolute;
    top: 8.8em;
    right: -5.7em;
    width: 7.1em;
    transform: rotateZ(-90deg);
    transform-origin: 0 0;

    .partials li:nth-child(odd) & {
      left: -2em;
      right: auto;
    }
  }

  ul {
    display: flex;
    gap: 0.2em;
    padding: 0.2em 0;
    flex-direction: column;
    width: 0.4em;
    transition: 0.6s 0.2s width;
    visibility: hidden;
    opacity: 0;

    @media (max-aspect-ratio: 1) {
      .partials li:nth-child(odd) & {
        flex-direction: column-reverse;
      }
    }


    .partials li:active &,
    .partials li:hover & {
      transition: 0.2s 0.2s opacity, 0.2s 0.2s visibility, 0.6s 0.2s width;
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  li {
    height: 1em;
    position: relative;
    width: 0;
    min-width: 0.4em;
    background: currentColor;

    &::after {
      content: attr(data-txt);
      text-transform: uppercase;
      position: absolute;
      right: -0.2em;
      transform: translate(100%, -50%);
      font-size: 0.8em;
      top: 50%;
    }

    &[data-party="Australian Greens"] {
      order: 4;
      color: var(--party-grn);
    }
    &[data-party="Australian Labor Party"] {
      order: 4;
      color: var(--party-alp);
    }
    &[data-party="Coalition"] {
      order: 4;
      color: var(--party-coa);
    }
    &[data-party^="Liberal"] {
      order: 4;
      color: var(--party-coa);
    }
    &[data-party="National Party"] {
      order: 4;
      color: var(--party-nat);
    }
    &[data-party="Other"] {
      order: 4;
      color: var(--party-other);
    }
  }
}

.image .alignment,
.alignment-footer {
  // max-width: 90vw;
  // width: 40vh;
}

.image .alignment {
  margin: 0em -1em 0;
  position: relative;
  z-index: -1;
  width: calc(100% + 2em);
  max-width: none;
  transform: translateY(1em) scaleY(1.1);
  transform-origin: 0 0;
}

.alignment-footer {
  position: absolute;
  width: 100%;
  top: calc(100vh - 1em);
  left: 0;

  @media (max-aspect-ratio: 0.75) {
    top: calc(100vh - 1em - 55px);
    // min-height: calc(100vh - 10em);

  }

  &:not(:hover)::before {
    content: 'Major party alignment';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 0.8em;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 0.2em;
    padding: 0.6em 1em;
    background: var(--white-light);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-bottom: 1px dashed #fffa;
    pointer-events: none;
  }
}
  // margin-right: 1.6em;

  // @media (max-aspect-ratio: 1) {
  //   position: absolute;
  //   top: 8.8em;
  //   right: -5.7em;
  //   width: 7.1em;
  //   transform: rotateZ(-90deg);
  //   transform-origin: 0 0;

  //   .partials li:nth-child(odd) & {
  //     left: -2em;
  //     right: auto;
  //   }
  // }

.alignment {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  // z-index: 0;
  // gap: 0.2em;
  // padding: 0.2em 0;
  // // flex-direction: column;
  // transition: 0.6s 0.2s width;
  // visibility: hidden;
  // opacity: 0;




  .partials li:active &,
  .partials li:hover & {
    transition: 0.2s 0.2s opacity, 0.2s 0.2s visibility, 0.6s 0.2s width;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }

  li {
    position: relative;
    position: relative;
    min-width: 0.4em;
    height: 0.6em;
    background: currentColor;
    display: none;
    transition: 0.2s width;
    // border: 4.5em solid currentColor;
    // border-right-color: transparent;
    // border-bottom: none;
    // margin-right: -4.5em;



    &[style*="width"] {
      display: block;
    }

    &[data-txt="grn"] {
      color: var(--party-grn);
    }
    &[data-txt="alp"] {
      color: var(--party-alp);
    }
    &[data-txt="coa"] {
      color: var(--party-coa);
    }
    &[data-txt^="l"] {
      color: var(--party-coa);
    }
    &[data-txt="nat"] {
      color: var(--party-nat);
    }
    &[data-txt="oth"] {
      color: var(--party-other);
    }

    .alignment-footer & {
      height: 4.2em;
      position: relative;

      &::before {
        color: #fffa;
        content: attr(data-percent) '% ' attr(data-txt);
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);
        font-size: 0.8em;
        font-weight: 600;
        top: 50%;
        text-align: center;
      }

      &[data-primary]::before {
        // content: attr(data-total) ' policies';
      }

      &:active,
      &:hover {
        &::before {
          color: #fff;
        }
        
        &::after {
          content: attr(data-percent) '% ' attr(data-party) '\A▾';
          color: var(--black);
          border-radius: 0.2em;
          border: 1px solid var(--black-light);
          padding: 0.6em 1em;
          font-size: 0.8em;
          display: block;
          white-space: pre;
          position: absolute;
          left: 50%;
          top: -1em;
          transform: translate(-50%, -110%);
          text-align: center;
          background: var(--white-light);
          height: 3.4em;
          line-height: 2.2em;
        }
      }

      &[data-percent="6"],
      &[data-percent="7"],
      &[data-percent="8"],
      &[data-percent="9"],
      &[data-percent^="1"] {
        &:not([data-percent="1"])::before {
          content: attr(data-percent) '%';
        }

        &::after {
          text-align: right;
          transform: translateX(1em) translate(-100%, -110%);
        }
      }

      &[data-percent="2"],
      &[data-percent="3"],
      &[data-percent="4"],
      &[data-percent="5"] {
        &::before {
          display: none;
        }

        &::after {
          text-align: right;
          transform: translateX(1em) translate(-100%, -110%);
        }
      }

      @media (min-aspect-ratio: 1.2) {
        &[data-percent="16"],
        &[data-percent="17"],
        &[data-percent="18"],
        &[data-percent="19"] {
          &:after {
            transform: translate(-50%, -110%);
            text-align: center;
          }
        }
      }
    }
  }
}

.title {
  text-align: center;
  padding: 0 1em 0.8em;
  line-height: 1;
  font-size: 1.6em;
  font-weight: bold;
  margin: -2.2em 0 1em;
  z-index: 1;
  position: relative;

  &::after {
    display: block;
    position: absolute;
    font-size: 0.5em;
    width: 100%;
    margin-top: 1.4em;
    left: 0;
    color: var(--black-light);
    font-weight: 400;
    content: "No. " attr(data-permutation);
  }
}

.description-wrap {
  width: 67vh;
  margin: 2em 0 1em;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  // min-height: 
}

.description {
  text-align: center;
  font-weight: 400;
  padding: 0 1em;
  font-size: 1em;
  line-height: 1.8em;

  .party-align {
    white-space: nowrap;
  }
}

@keyframes hint-button {
  to {
    transform: translate(120%, -50%);
  }
}

.actions,
.btn-refresh {
  position: relative;

  &[data-hint]:not(:hover)::before {
    content: "👈";
    display: block;
    border-radius: 0.2em;
    position: absolute;
    right: -0.3em;
    top: 50%;
    font-size: 1.4em;
    white-space: nowrap;
    transform: translate(100%, -50%);
    pointer-events: none;
    animation: hint-button 1s alternate infinite;
  }
}

.btn-refresh {
  position: relative;
  margin: 1em;
  padding: 0.8em 1em 0.7em;
  line-height: 1em;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
  max-width: 90vw;
  width: 34vh;
  text-align: center;
  background: linear-gradient(-45deg, var(--against-lightest) 0 48.5%, #fff 48.5% 49.5%, var(--for-lightest) 49.5% 100%);
  text-transform: capitalize;
  letter-spacing: 0.15em;
  border: 1px solid transparent;
  box-shadow: inset 1px 1px 0 #fffc,
              inset -1px -1px 0 var(--for-lightest);

  // &[data-hint]:not(:hover) {
  //   outline-offset: 2px;
  //   outline: 5px auto;
  // }

  @media (max-aspect-ratio: 0.75) {
    margin: 0em 1em;
  }

  span {
    &:first-child {
      color: var(--for-darker);
    }

    &:last-child {
      color: var(--against-darker);
    }
  }

  &:active {
    box-shadow: none;
    // transform: scale(0.9875);
    box-shadow: inset -1px -1px 0 #fffc,
                inset 1px 1px 0 var(--for-lightest);

  }

  .icon {
    display: inline-block;
    transition: transform 0.1s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: transform 0.1s;
    width: 1.4em;
    transform:  scale(1.3);
    will-change: transform;

    &::before {
      content: '💔'
    }
  }

  &:hover {
    background: linear-gradient(-45deg, var(--against-lighter) 0 48.5%, #fff 48.5% 49.5%, var(--for-lighter) 49.5% 100%);

    &::after {
      background: var(--white-light);
      border-radius: 0.2em;
      border: 1px solid var(--black-light);
      color: var(--black);
      content: attr(aria-label) '\A▾';
      display: block;
      font-size: 0.5em;
      font-weight: 400;
      letter-spacing: initial;
      height: 3.4em;
      left: 50%;
      line-height: 2.2em;
      padding: 0.6em 1em;
      position: absolute;
      text-align: center;
      text-transform: none;
      top: -1em;
      transform: translate(-50%, -110%);
      white-space: pre;
      z-index: 1;
    }
    
    &:not(:active) .icon {
      transform: scale(1.8);
      // transform-origin: 70% 0%;
      transition-duration: 0.075s;
      
      &::before {
        content: '💔';
        line-height: 0;
        display: inline-block;
      }
    }
  }

  
}

label[for="btn-refresh"] {
  border-radius: 0.2em;
  border: 1px solid var(--for-light);
  padding: 0.6em 1em;
  position: relative;

  &::before {
    pointer-events: none;
    content: '▾';
    color:  var(--for);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  &:hover {
    border-color:  var(--against-light);

    // &::before {
    //   color:  var(--against-light);
    // }
  }
}

.what-what-what .footer,
.help,
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;

  button, a {
    position: relative;
    width: 3.6em;
    border-radius: 50%;
    border: none;
    background: var(--for-lightest);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.15;
    border: 1px solid transparent;
    box-shadow: inset 1px 1px 0 #fffc,
                inset -1px -1px 0 var(--for-lightest);

    span {
      font-size: 1.8em;
    }

    &:active {
      box-shadow: inset -1px -1px 0 #fffc,
                inset 1px 1px 0 var(--for-lightest);

      &::before,
      &::after {
        visibility: hidden;
      }
    }

    &:hover {
      background: var(--against-lighter);

      &::before {
        content: attr(aria-label);
        display: block;
        border-radius: 0.2em;
        border: 1px solid var(--for-light);
        padding: 0.6em 1em;
        position: absolute;
        left: 50%;
        top: -1em;
        font-size: 0.8em;
        white-space: nowrap;
        transform: translate(-50%, -100%);
        background: var(--white-light);
      }

      &::after {
        font-size: 0.8em;
        pointer-events: none;
        content: '▾';
        position: absolute;
        top: -0.1em;
        left: 50%;
        transform: translate(-50%, -100%);
      }
    }
  }

  .copy {
    &:hover:focus::before {
      content: 'Link copied';
      font-weight: 600;  
    }
  }

  .save {
    @media (max-aspect-ratio: 0.75) {
      font-size: 1.4em;
    }

    span {
      transform: translateY(-0.1em);
    }
  }

  .what,
  .twitter {
    span {
      font-weight: 600;
    }
  }

  .email {
    span {
      font-size: 2em;
      text-shadow: 0 0 1px var(--for);
    }
  }
}

.actions {
  &[data-hint]:not(:hover)::before {
    animation-delay: -1s;
    font-size: 2.24em;
  }

  @media (max-aspect-ratio: 0.75) {
    margin-top: 0;
  }
}

.policies-wrap {
  padding: 0 1em 2em;
}

.policies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60em;
  max-width: 100%;
  
  h2, h3 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.3em;
    margin-bottom: 1.6em;

    .pollie:not(:empty)::after {
      content: '\'s';
    }
  }

  h3 {
    font-size:  1.2em;
    margin: 1em 0;
    font-size: 1.1em;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }

  p {
    font-size: 0.9em;
  }
  
  summary::first-letter,
  p::first-letter {
    text-transform: uppercase;
  }
}

.policies-inner {
  text-align: center;
  width: 100%;
  padding: 2.5em 0 4em;
  border-bottom: 1px dashed var(--black-light);

  ul {
    margin-top: 1em;
    gap:  0.4em;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;

    &:empty::before {
      text-align: center;
      font-size: 0.9em;
      padding: 0.4em 1em;
      content: 'Nothing to see here ... 🙃';
      width: calc(50% - 0.4em);
      border: 1px solid var(--for-light);
      background: var(--for-lightest);
    }
  }

  > p {
    // border: 1px solid var(--for-light);
    border-radius: 0.2em;
    // padding: 0.6em 1em;
    // background: var(--for-lightest);
    margin: 0 auto 1em;
    width: 60em;
    max-width: 95%;
  }

  li {
    padding: 0.4em 1em;
    width: calc(50% - 0.4em);

    @media (max-width: $phablet-tablet) {
      width: 100%;
    }

    &.is-for {
      background: var(--for-lightest);
      border: 1px solid var(--for-light);
    
      summary::before {
        content: 'For ';
      }
    }

    &.is-against {
      background: var(--against-lightest);
      border: 1px solid var(--against-light);

      summary::before {
        content: 'Against ';
      }
    }
  }

  details p {
    margin-top: 0.4em;

    small {
      font-size: 0.85em;
      margin-top: 0.4em;
      display: block;
      font-weight: 600;
    }
  }

  summary {
    font-size:  0.9em;
    font-weight: 600;
  }

  .policies-some {
    display: block;
  }
  .policies-none {
    display: none;
  }

  &[data-total="0"] {
    h2 {
      text-decoration: line-through;
      text-decoration-color: var(--against);
      text-decoration-thickness: 0.1em;
    }

    .policies-some {
      display: none;
    }
    .policies-none {
      display: block;
    }
  }
}

.what-what-what {
  // border: 1px solid var(--for-light);
  // border-radius: 0.2em;
  padding: 0 1em 2em;
  // background: var(--for-lightest);
  margin: 0 auto 1em;
  width: 60em;
  max-width: 95%;
  text-align: center;

  h2 {
    font-size:  1.2em;
    font-weight: 600;
    margin: 1em 0;
  }

  ul {
    list-style: initial;
    font-size: 0.9em;
    text-align: left;
    margin-bottom: 1em;

    ol, ul {
      margin: 0.8em 1.8em;
    }
  }

  ol {
    list-style: decimal;
  }

  li:not(:last-child) {
    margin-bottom: 0.8em;
  }

  a small {
    font-size: 0.7em;
  }

  .footer {
    margin-top: 2em;
  }
}

.help {
  position: absolute;
  top: 100vh;
  right: 0;
  margin: 1em;

  a {
    width: 2.4em;
  }
}

footer {
  background: var(--for-darker);
  color: #fff;
  padding: 4em;
  font-size: 0.7em;
  text-align: center;
  line-height: 1.8em;

  p {
    width: 86em;
    max-width: 95%;
    margin: 0 auto 1em;
  }
}


